#title, #container, img{
     text-align: center;
     border: 1px solid black;
}
#title h1, p{
     margin: 0.75rem;
}
 #container {
     height: 100%;
     width: 100%;
     margin-top: 2px;
     
     justify-content: center;
 }
 
 button {
    padding: 10px;  
 }

 #output {
     height: 100%;
     width: 100%;
 }

 #movieInfo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
   
    
 }

 #movie{
     display: flex;
     margin: auto;
     /* margin-top: 40px; */
     justify-content: space-evenly;
     height: 50%;
     width: 50%;
 }

 #image {
     
     width: 50%;
     height: 50%;
     margin: 20px;
    
 }
 #sinopse {
     margin: 20px;
     width: 50%;
     height: 50%;

}