#title, #container{
    border: 1px solid black;
}
#title h1, p{
    margin: 0.75rem;
}
 #container {
     margin-top: 2px

 }

 #container h2{
    margin: 0.75rem;
    
}

 #GenButton {
     margin: 50px;
 }

 #output {
     display: flex;
     margin: 2px;
     
     height: 400px;
 }

 #image {
     width: 3.2rem;
     height: 6.2rem;
    border: 1px solid black;
 }
 #sinopse {
    width: 3.2rem;
    height: 6.2rem;
   border: 1px solid black;
}